* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Comic Sans MS", sans-serif;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
    min-height: 100vh;
    height: 100%;
}

header {
    grid-area: header;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

header h1 {
    margin-left: 10px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f3f3f3;
    padding: 20px;
    height: 100%;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main {
    grid-area: main;
    padding: 20px;
    background-color: #ffffff;
    min-height: calc(100vh - 40px); /* För att täcka hela höjden av viewport */
}

.product-list {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-list h2 {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.nyprodukt-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: solid black 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.nyprodukt-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f3f3f3;
}
